/*  
--lapis-lazuli: #135C9E;
--steel-blue: #477EAF;
--air-superiority-blue: #7BA0C1;
--light-steel-blue: #AFC1D2;
--platinum: #E3E3E3;
font-family: 'Noto Sans Ethiopic', sans-serif;
 */

body {
    font-family: 'Noto Sans Ethiopic', sans-serif;
}

/* navigation bar properties */
.navbar {
    background-color:#135C9E;
    text-align:center;
    width:100%
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.navbar li {
    display: inline-block;
}

.navbar li a, .dropbtn {
    display:inline-block;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
}

.navbar li a:hover, .dropdown:hover {
    background-color: #E3E3E3;
    color:#135C9E;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #135C9E;
    color:#E3E3E3;
    z-index: 1;
}
  
.dropdown-content a {
    color: #E3E3E3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #E3E3E3;
}
.dropdown:hover .dropdown-content {
    display: block;
  }

/* grid layout properties */
.grid-container {
    display:grid;
    background-color:#AFC1D2;
}
  
.grid-item {
    text-align:center;
}

/* button properties */
#update-button {
    background-color: #135C9Eff;
    color: #E3E3E3ff;
    border: 2px solid #E3E3E3ff;
    transition-duration: 0.4s;
}
  
#update-button:hover {
    background-color: #E3E3E3ff;
    color:#135C9Eff;
    border: 2px solid #135C9Eff;
}

/* global form properties */
.uk-input {
    width: 250px;
}

form {
    margin: auto;
    padding: 10%;
    border: solid 2px;
    background-color:#E3E3E3ff;
}

h3 {
    text-align: center;
    color:#477EAF;
}

.uk-form-label {
    font-size: 18px;
    color:#477EAF;
}

.uk-select {
    width: 250px;
  }

/* global table properties */
.uk-table th, .uk-table td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid black;
}

.uk-table tr:nth-child(even) {
    background-color:whitesmoke;
    color: #477EAF;
}

.uk-table tr:nth-child(odd) {
    background-color:#7ba0c1;
    color:#E3E3E3ff;
}

.uk-table tr:hover, .uk-table th {
    background-color:#477EAF;
    color:#E3E3E3ff;
}