<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic&display=swap" rel="stylesheet">
    <title>New Product</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Shop</a>
                    <div class="dropdown-content">
                        <a th:href="@{/products}">All Products</a>
                        <a th:href="@{/products/new}">Add New Product</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Orders</a>
                    <div class="dropdown-content">
                        <a th:href="@{/orders}">All Orders</a>
                        <a th:href="@{/orders/new}">Add New Order</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Customers</a>
                    <div class="dropdown-content">
                        <a th:href="@{/customers}">All Customers</a>
                        <a th:href="@{/customers/new}">Add New Customer</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Employees</a>
                    <div class="dropdown-content">
                        <a th:href="@{/employees}">All Employees</a>
                        <a th:href="@{/employees/new}">Add New Employee</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div class="grid-container" id="new-product-form">
        <form class="uk-form-horizontal" th:action="@{/products}" th:object="${product}" method="POST">
            <h3>Add New Product</h3>
            <div class="uk-margin">
                <label class="uk-form-label" for="code">Product Code:</label>
                <div class="uk-form-controls">
                    <input type="text" class="uk-input" th:field="*{code}" id="code" placeholder="Enter Code">
                </div>
            </div>
            <div class="uk-margin">
                <label for="variety" class="uk-form-label">Variety:</label>
                <div class="uk-form-controls">
                    <input type="text" class="uk-input" th:field="*{variety}" id="variety">
                </div>
            </div>
            <div class="uk-margin">
                <label for="size" class="uk-form-label">Size:</label>
                <div class="uk-form-controls">
                    <input type="number" class="uk-input" th:field="*{size}" id="size">
                </div>
            </div>
            <div class="uk-margin">
                <label for="price" class="uk-form-label">Price:</label>
                <div class="uk-form-controls">
                    <input type="number" class="uk-input" th:field="*{price}" id="price">
                </div>
            </div>
            <div class="uk-margin">
                <label for="status" class="uk-form-label">Status:</label>
                <div class="uk-form-controls">
                    <input type="text" class="uk-input" th:field="*{status}" id="status">
                </div>
            </div>
            <div class="uk-margin">
                <label for="image" class="uk-form-label">Image:</label>
                <div class="uk-form-controls">
                    <input type="text" class="uk-input" th:field="*{image}" id="image">
                </div>
            </div>
            <button class="uk-button" type="submit">Submit</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit-icons.min.js"></script>
</body>

</html>