<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>New Employee</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a th:href="@{/products}">Shop</a>
                </li>
                <li>
                    <a th:href="@{/orders}">Orders</a>
                </li>
                <li>
                    <a th:href="@{/customers}">Customers</a>
                </li>
                <li>
                    <a th:href="@{/employees}">Employees</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="new-employee-form">
        <form th:action="@{/employees}" th:object="${employee}" method="POST">
            <label>First Name:</label>
            <input type="text" th:field="*{firstName}" title="firstName" placeholder="Enter First Name">
            <label>Last Name:</label>
            <input type="text" th:field="*{lastName}" title="lastName" placeholder="Enter Last Name">
            <label>Email</label>
            <input type="email" th:field="*{email}" title="email" placeholder="Enter Email">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>