<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Customers</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a th:href="@{/products}">Shop</a>
                </li>
                <li>
                    <a th:href="@{/orders}">Orders</a>
                </li>
                <li>
                    <a th:href="@{/customers}">Customers</a>
                </li>
            </ul>
        </nav>
    </header>
    <a th:href="@{/customers/new}">Create a new customer</a>
    <div id="customers">
        <table>
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.id}"></td>
                    <td th:text="${customer.firstName} + ' ' + ${customer.lastName}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.phone}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>