<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic&display=swap" rel="stylesheet">
    <title>Customers</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Shop</a>
                    <div class="dropdown-content">
                        <a th:href="@{/products}">All Products</a>
                        <a th:href="@{/products/new}">Add New Product</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Orders</a>
                    <div class="dropdown-content">
                        <a th:href="@{/orders}">All Orders</a>
                        <a th:href="@{/orders/new}">Add New Order</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Customers</a>
                    <div class="dropdown-content">
                        <a th:href="@{/customers}">All Customers</a>
                        <a th:href="@{/customers/new}">Add New Customer</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Employees</a>
                    <div class="dropdown-content">
                        <a th:href="@{/employees}">All Employees</a>
                        <a th:href="@{/employees/new}">Add New Employee</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <a th:href="@{/customers/new}" class="uk-button" id="create-button">Create a new customer</a>
    <div id="customers" class="grid-container">
        <table class="uk-table">
            <thead>
                <tr>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">ZIP Code</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.id}"></td>
                    <td th:text="${customer.firstName} + ' ' + ${customer.lastName}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.phone}"></td>
                    <td th:text="${customer.address}"></td>
                    <td th:text="${customer.city}"></td>
                    <td th:text="${customer.state}"></td>
                    <td th:text="${customer.zipCode}"></td>
                    <td>
                        <a th:href="@{/customers/edit/{id}(id=${customer.id})}" class="uk-button"
                            id="update-button">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit-icons.min.js"></script>
</body>

</html>