<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css" />
    <title>Employees</title>
</head>

<body>
    <header>
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-center">
                <div class="uk-navbar-center-left">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="#">Shop</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active">
                                        <a th:href="@{/products}">All Products</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/products/new}">Add New Product</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">Orders</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li>
                                        <a th:href="@{/orders}">All Orders</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/orders/new}">Add New Order</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <a class="uk-navbar-item uk-logo" href="#">Aguafina</a>
                <div class="uk-navbar-center-right">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="#">Customers</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li>
                                        <a th:href="@{/customers}">All Customers</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/customers/new}">Add New Customer</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">Employees</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li>
                                        <a th:href="@{/employees}">All Employees</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/employees/new}">Add New Employee</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <a th:href="@{/employees/new}">Create New Employee</a>
    <div id="employees" class="uk-overflow-auto">
        <table class="uk-table uk-table-divider uk-table-striped uk-table-small">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.id}"></td>
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.email}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit-icons.min.js"></script>
</body>

</html>