<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic&display=swap" rel="stylesheet" />
	<title>Login</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>User Login Page</h1>
				<form th:action="@{/login}" method="post">
					<!-- error message -->
					<div th:if="${param.error}">
						<div class="alert alert-danger">
							Invalid username or password.
						</div>
					</div>

					<!-- logout message -->
					<div th:if="${param.logout}">
						<div class="alert alert-info">You have been logged out.</div>
					</div>

					<!-- registration successful message-->
					<div th:if="${param.success}">
						<div class="alert alert-success">You have been successfully registered. Please log in.</div>
					</div>

					<div class="form-group">
						<label for="username"> Username </label> :
						<input type="text" class="form-control" id="username" name="username"
							placeholder="Enter Email ID" autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label for="password">Password</label>:
						<input type="password" id="password" name="password" class="form-control"
							placeholder="Enter Password" />
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit"
									class="form-control btn btn-primary" value="Log In" />
							</div>
						</div>
					</div>
				</form>
				<div class="form-group">
					<span>New user?Register as <a th:href="@{/registration/admin}">a manager</a> or <a
							th:href="@{/registration/user}">an employee</a></span>
				</div>
			</div>
		</div>
	</div>
</body>

</html>