<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css" />
    <title>Orders</title>
</head>

<body>
    <header>
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-center">
                <div class="uk-navbar-center-left">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="#">Shop</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active">
                                        <a th:href="@{/products}">All Products</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/products/new}">Add New Product</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">Orders</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li>
                                        <a th:href="@{/orders}">All Orders</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/orders/new}">Add New Order</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <a class="uk-navbar-item uk-logo" href="#">Aguafina</a>
                <div class="uk-navbar-center-right">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="#">Customers</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li>
                                        <a th:href="@{/customers}">All Customers</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/customers/new}">Add New Customer</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">Employees</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li>
                                        <a th:href="@{/employees}">All Employees</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/employees/new}">Add New Employee</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <a th:href="@{/orders/new}">Create a new order</a>
    <div class="uk-overflow-auto" id="orders">
        <table class="uk-table uk-table-divider uk-table-striped uk-table-small">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Creation date</th>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Product Code</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order: ${orders}">
                    <td th:text="${order.id}">Order ID</td>
                    <td th:text="${#dates.format(order.creationDate,'MM-dd-yyyy')}">Creation Date</td>
                    <td th:text="${order.customer.id}">Customer ID</td>
                    <td th:text="${order.employee.id}">Employee ID</td>
                    <td th:text="${order.product.code}">Product Code</td>
                    <td th:text="${order.quantity}">Quantity</td>
                    <td th:text="${#numbers.formatCurrency(order.total)}">Total</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit-icons.min.js"></script>
</body>

</html>