<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic&display=swap" rel="stylesheet">
    <title>Orders</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Shop</a>
                    <div class="dropdown-content">
                        <a th:href="@{/products}">All Products</a>
                        <a th:href="@{/products/new}">Add New Product</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Orders</a>
                    <div class="dropdown-content">
                        <a th:href="@{/orders}">All Orders</a>
                        <a th:href="@{/orders/new}">Add New Order</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Customers</a>
                    <div class="dropdown-content">
                        <a th:href="@{/customers}">All Customers</a>
                        <a th:href="@{/customers/new}">Add New Customer</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Employees</a>
                    <div class="dropdown-content">
                        <a th:href="@{/employees}">All Employees</a>
                        <a th:href="@{/employees/new}">Add New Employee</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <button class="uk-button" type="button" uk-toggle="target: #create-new-order" id="create-button">Create New
        Order</button>
    <div id="create-new-order" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default uk-margin-auto-vertical" type="button" uk-close
                title="close"></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Choose customer type</h2>
            </div>
            <div class="uk-modal-body">
                <a th:href="@{/customers/new}" class="uk-button" id="new-customer-button">New Customer</a>
                <a th:href="@{/orders/new}" class="uk-button" id="existing-customer-button">Existing Customer</a>
            </div>
        </div>
    </div>
    <div class="grid-container" id="orders">
        <table class="uk-table">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Creation date</th>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Product Code</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order: ${orders}">
                    <td th:text="${order.id}">Order ID</td>
                    <td th:text="${#dates.format(order.creationDate,'MM-dd-yyyy')}">Creation Date</td>
                    <td>
                        <a th:href="@{/orders/customer/{customer}(customer=${order.customer.id})}"
                            th:text="${order.customer.id}"></a>
                    </td>
                    <td th:text="${order.employee.id}">Employee ID</td>
                    <td th:text="${order.product.code}">Product Code</td>
                    <td th:text="${order.quantity}">Quantity</td>
                    <td th:text="${#numbers.formatCurrency(order.total)}">Total</td>
                    <td>
                        <a th:href="@{/orders/{id}(id=${order.id})}" class="uk-button" id="delete-button">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit-icons.min.js"></script>
</body>

</html>