<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <title>Products</title>
</head>

<body>
    <header>
        <nav class="navbar is-primary">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">Aguafina</a>
            </div>
            <div class="navbar-menu" id="navbarContent">
                <div class="navbar-start">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="#">Shop</a>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" th:href="@{/products}">All Products</a>
                            <a class="navbar-item" th:href="@{/products/new}">Add New Product</a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" th:href="@{/orders}">Orders</a>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" th:href="@{/orders}">All Orders</a>
                            <a class="navbar-item" th:href="@{/orders/new}">Add New Order</a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" th:href="@{/customers}">Customers</a>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" th:href="@{/customers}">All Customers</a>
                            <a class="navbar-item" th:href="@{/customers/new}">Add New Customer</a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" th:href="@{/employees}">Employees</a>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" th:href="@{/employees}">All Employees</a>
                            <a class="navbar-item" th:href="@{/employees/new}">Add New Employee
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid pt-3 bg-info">
        <div class="row">
            <div class="card col-sm-3 my-2" th:each="product : ${products}">
                <div class="card-header bg-transparent border-info">
                    <h4 class="text-center" th:text="${product.code}">Product Code</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center text-muted"
                        th:text="'Variety: ' + ${product.variety} + ' ' + ${product.size} + ' oz'">Product Variety
                        and
                        size</h5>
                    <img class="card-img-top img-thumbnail img-fluid"
                        th:src="@{/images/{image}(image=${product.image})}" alt="Fruit image">
                    <p class="card-text text-center">
                        <span th:text="'Status: ' + ${product.status}">Availability</span>
                        <span th:text="' | Price: ' + ${#numbers.formatCurrency(product.price)}">Price</span>
                    </p>
                </div>
                <div class="card-footer bg-transparent border-info text-center">
                    <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-primary">Update
                        Product</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>