<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic&display=swap" rel="stylesheet">
    <title>Products</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Shop</a>
                    <div class="dropdown-content">
                        <a th:href="@{/products}">All Products</a>
                        <a th:href="@{/products/new}">Add New Product</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Orders</a>
                    <div class="dropdown-content">
                        <a th:href="@{/orders}">All Orders</a>
                        <a th:href="@{/orders/new}">Add New Order</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Customers</a>
                    <div class="dropdown-content">
                        <a th:href="@{/customers}">All Customers</a>
                        <a th:href="@{/customers/new}">Add New Customer</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Employees</a>
                    <div class="dropdown-content">
                        <a th:href="@{/employees}">All Employees</a>
                        <a th:href="@{/employees/new}">Add New Employee</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div class="grid-container">
        <div class="grid-item">
            <div class="uk-flex uk-flex-wrap uk-padding-small">
                <div class="uk-width-1-4 uk-margin-small uk-card uk-card-primary uk-card-hover uk-card-small"
                    th:each="product : ${products}">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title" th:text="${product.code}">Product Code</h3>
                        <h4 class="uk-margin-remove-top"
                            th:text="'Variety: ' + ${product.variety} + ' ' + ${product.size} + ' oz'">
                            Product Variety and size</h4>
                    </div>
                    <div class="uk-card-media-top">
                        <img th:src="@{/images/{image}(image=${product.image})}" alt="Fruit image">
                    </div>
                    <div class="uk-card-body">
                        <p th:text="'Status: ' + ${product.status}">Availability</p>
                        <p th:text="'Price: ' + ${#numbers.formatCurrency(product.price)}">Price</p>
                    </div>
                    <footer class="uk-card-footer">
                        <a th:href="@{/products/edit/{id}(id=${product.id})}" class="uk-button"
                            id="update-button">Update
                            Product</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit-icons.min.js"></script>
</body>

</html>